* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --border-color: #d9d9d9;
  --text-font-family: "Lato", serif;
  --button-background-color: #0079c0;
  --text-color: #000000;
  --card-color: #fafafa;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.hero .image-grid-item img {
  height: 376px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 90%;
  justify-content: center;
  align-items: center;
}

li.centre-list-items {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.nav {
  display: flex;
  padding: 15px 0px;
  margin: 0px 40px;
  border-bottom: 2px solid #d9d9d9;
  flex-direction: row;
  align-items: center;
}

.location-dropdown {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}

.location-dropdown select {
  padding: 5px 25px 5px 10px;
  appearance: none;
  background: url(images/Chevron\ down.png) no-repeat right 10px center;
  background-size: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", serif;
  cursor: pointer;
}

.location-dropdown select:focus-visible {
  outline: none;
}

.location-dropdown select::after {
  font-size: 20px;
}

.search-box {
  position: relative;
}
.search-box input {
  padding: 18px 16px 18px 16px;
  border: 1.5px solid var(--border-color);
  border-radius: 30px;
  width: 500px;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  outline: none;
}
.search-box .search-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 46px;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#cart-icon,
#whishlist-icon {
  cursor: pointer;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 18px 16px;
  border: 1.5px solid var(--border-color);
  border-radius: 34px;
  background-color: #fff;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  position: relative;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: var(--button-background-color);
  color: #fff;
}

.button:hover .dot {
  background-color: #fff;
}

.button .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--button-background-color);
  border-radius: 50%;
  margin-left: 10px;
}

.hero {
  margin: 15px 40px;
}
.image-slider-container {
  position: relative;
  width: 100%; /* Adjust the width as needed */
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edeef0;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 55%; /* Adjust to show 4 images at a time */
  box-sizing: border-box;
  /* padding: 10px; */
  text-align: center;
}

.slide img {
  width: 100%;
  height: 400px;
}
.slide.slide-2 img,
.slide.slide-4 img {
  object-fit: contain !important;
}
.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: lightgray;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #306400;
  border-radius: 6px;
  width: 32px;
  box-shadow: 0px 0px 5px 0px #ffc0c040 inset;
}

.category-section {
  text-align: center;
  margin: 0px 40px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  /* margin-top: 20px; */
  margin-bottom: 30px;
}

.category-container .category-card {
  /* transition: transform 0.3s ease; */
  cursor: pointer;
}

.category-container .category-card img {
  width: 132px;
  height: 97px;
  object-fit: contain;
}
.category-container .category-card .category-image {
  padding: 29px 12px;
  background: var(--card-color);
  border-radius: 20px;
}

.category-container .category-card .category-title p {
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-top: 15px;
}
/* .hover-underline-animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  border-radius: 18px 0px 0px 0px;
  background-color: #00000080;
  transition: transform 0.25s ease-out;
}

/* Add hover effect for the whole card */
.category-card:hover .hover-underline-animation::after {
  transform: scaleX(1);
}

/* Ensure the left hover animation works when hovering the entire card */
.category-card:hover .hover-underline-animation.left::after {
  transform-origin: bottom left;
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.view-all-button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.view-all-button a {
  text-decoration: none;
  color: #0c53bc;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: 0.01em;
}

.offer-products-section {
  margin: 0px 40px 40px 40px;
}

.offer-products-section h3 {
  font-family: var(--text-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
  color: #121212cc;
  margin-bottom: 20px;
  margin-top: 20px;
}

.offer-product-list-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: start;
}

.grocery-sale-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #faffe9 50%, #edf1e0 50%);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  padding: 20px;
  overflow: hidden;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.sale-content {
  margin-bottom: 15px;
}

.sale-tagline {
  color: #556921;
  margin: 0;
  font-family: "Great Vibes", serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 50.4px;
  text-align: left;
  position: relative;
  top: 20px;
  left: 20px;
}

.sale-title-grocery {
  font-weight: bold;
  color: #333333;
  margin: 5px 0;
  font-family: "ASPHALTIC SCRATCH ROUNDED PERSO";
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

span.sale-title-sale {
  color: #556921;
}

.sale-image img {
  width: 100%;
  height: auto;
  max-width: 308px;
  border-radius: 10px;
  margin-top: -140px;
  margin-left: 20px;
}

nav .menu-btn i {
  font-size: 22px;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 55px;
}

#click {
  display: none !important;
}

.product-card-body .product-image {
  background: #d9d9d933;
  width: 322px;
  height: 206px;
  object-fit: contain;
  top: 873px;
  left: 451px;
  gap: 0px;
  border-radius: 10px;
  padding: 20px;
}

.product-card-body {
  background: #fafafa;
  padding: 10px;
  border-radius: 20px;
}

.product-card {
  position: relative;
}

.product-card-body .photo-container .controls img {
  position: absolute;
  right: 27px;
  top: 23px;
  padding: 9px;
  background: #fff;
  border-radius: 15px;
  cursor: pointer;
}

.product-details {
  padding-top: 18px;
  padding-left: 10px;
  padding-bottom: 4px;
}

.product-details .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details .detail .product-name {
  font-family: var(--text-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.product-details .detail img {
  width: 32%;
  object-fit: cover;
  margin-right: 10px;
}

.price .sale-price {
  font-family: var(--text-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #306400;
}

.price .regular-price {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.01em;
  text-align: left;
  text-decoration-line: line-through;
  color: #a69e9e;
}

.price {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
}

.special-product-section {
  margin: 40px !important;
}
.special-offer-products h3 {
  font-family: var(--text-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

.special-offer-list .offer-product-list-body {
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
}

.footer {
  background-color: #edeef0;
  padding: 0px 40px;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 0px;
}
.footer-column.first {
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-description {
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: var(--text-color);
}
.subscription-form input {
  padding: 10px 16px;
  border: none;
  border-radius: 30px;
  width: 60%;
  outline: none;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  outline: none;
  background: #fff;
  margin-right: 10px;
}
.subscription-form button {
  padding: 10px 16px;
  border: none;
  background: #0079c0;
  outline: none;
  border-radius: 30px;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #ffffffcc;
  cursor: pointer;
}
.subscription-form button:hover {
  background: #fff;
  color: var(--button-background-color);
}
.social-icons {
  margin-top: 15px;
}
.social-icons a {
  margin: 4px;
}
.copy-right {
  display: flex;
  justify-content: flex-end;
}
.copy-right p {
  padding: 20px 0px 40px 0px;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: #253d4e;
}
.seperator {
  border-bottom: 2px solid #ffffff;
  border-radius: 51px;
}
.links {
  margin-top: 77px;
}
.footer-column h3 {
  font-family: var(--text-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  color: #253d4e;
  margin-bottom: 25px;
}
.footer-column.links ul li a {
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-decoration: none;
  color: #253d4e;
}
.footer-column.links ul li {
  list-style: none;
}
.footer-column.links ul li:not(:last-child) {
  margin-bottom: 15px;
}

.image-grid-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0px 40px;
}
.image-grid-item.second-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image-grid-item.first-column img {
  width: 700px;
  height: 432px;
}
.image-grid-item.third-column img {
  width: 386px;
  height: 432px;
}

/* sign in button  */
.signin-btn a {
  text-decoration: none;
}
.outer-container {
  width: max-content;
  height: max-content;
  border-radius: 20px;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  padding: 18px 16px;
  border: 1.5px solid var(--border-color);
  border-radius: 34px;
  background-color: #fff;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-decoration: none;
}

.text-content {
  position: relative;
}

.dynamic-bg {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: var(--button-background-color);
  border-radius: 50%;
  margin-left: 10px;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.dynamic-bg-white {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--button-background-color);
  border-radius: 50%;
  right: 16px;
  transform: scale(1);
  transition: transform 0.4s ease-in;
}

.outer-container:hover .text-content {
  z-index: 10;
  color: white;
}

.outer-container:hover .dynamic-bg {
  transform: scale(20);
  background-color: var(--button-background-color);
}

.outer-container:hover .dynamic-bg-white {
  z-index: 10;
  background-color: white;
}

img#peanut {
  position: relative;
  bottom: 41px;
}
img#burger {
  position: absolute;
}
p#hot-and-special-text,
p#burger-text {
  color: #fff;
  z-index: 9;
  position: relative;
  font-family: Anton;
  font-weight: 400;
  letter-spacing: 0.01em;
}
p#hot-and-special-text {
  top: 9px;
  left: 119px;
  font-size: 16px;
  line-height: 24.09px;
  color: #ffffff;
}
p#burger-text {
  top: -17px;
  left: 88px;
  font-size: 50px;
  line-height: 75.27px;
  color: #e92c30;
}
p#price-text,
p.discount-text {
  z-index: 9;
  color: #fff;
  position: relative;
}
p#price-text {
  bottom: 20px;
  left: 245px;
  font-family: Anton;
  font-size: 10px;
  font-weight: 400;
  line-height: 15.05px;
  letter-spacing: 0.01em;
}
p#price-text span {
  font-size: 20px;
  color: #f2c94c;
}

p.discount-text {
  transform: rotate(-23.71deg);
  bottom: 144px;
  left: 18px;
  font-size: 16px;
  font-family: "Averia Serif Libre", serif;
}
p.discount-text.save {
  font-size: 8px;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 9.7px;
  margin-top: -13px;
  margin-left: 11px;
}
.arrow-img {
  position: relative;
  bottom: 109px;
  z-index: 9;
  left: 39px;
}

/* add to cart button */
.add-to-cart-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 46px;
  cursor: pointer;
  border: 1.5px solid var(--border-color);
  border-radius: 34px;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  margin-top: 12px;
  padding: 8px 16px;
  overflow: hidden;
  transition: color 0.4s ease;
  width: 100%;
  max-width: 400px;
}

.add-to-cart-container::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: var(--button-background-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0; /* Keeps it behind the content */
  transition: width 0.4s ease, height 0.4s ease;
}

.add-to-cart-container:hover::before {
  width: 300%;
  height: 300%;
}

.add-to-cart-container:hover {
  color: white; /* Text and icon color changes to white */
}

.button-text,
.button-icon {
  position: relative;
  z-index: 1; /* Ensures they are above the expanding background */
  display: flex;
  align-items: center;
}

.button-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 50%;
  padding: 20px;
}

.button-icon img {
  position: absolute;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.button-icon::after {
  font-family: "Font Awesome 5 Free";
  content: "\f061";
  position: absolute;
  top: 30%;
  left: 53%;
  transform: translate(-50%, -50%) scale(0);
  color: #000000;
  font-size: 16px;
  transition: transform 0.3s ease;
}

.add-to-cart-container:hover .button-icon img {
  transform: translateY(-10px); /* Move shopping bag icon up */
  opacity: 0; /* Fade out shopping bag icon */
}

.add-to-cart-container:hover .button-icon::after {
  transform: translate(-50%, 0%) scale(1); /* Arrow icon appears */
}

/* Responsive design */
@media (max-width: 768px) {
  .add-to-cart-container {
    padding: 8px 16px;
  }

  .button-text {
    font-size: 14px;
  }

  .button-icon {
    width: 20px;
    height: 20px;
  }

  .button-icon img {
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slide img {
    width: 100%;
    height: 200px !important;
    object-fit: cover;
  }
  .slide.slide-1 img {
    padding-right: 15px;
  }

  #hot-and-special-text,
  #burger-text,
  #price-text,
  .discount-text,
  .discount-text.save,
  p#burger-text,
  .arrow-img {
    display: none;
  }
  img#burger,
  img#peanut {
    position: static !important;
  }
  .hero .grid-container {
    grid-template-columns: 2fr 1fr;
  }
  .hero .image-grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav .menu-btn i {
    display: block !important;
  }
  #click:checked ~ ul {
    left: 0%;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 100px;
    left: -100%;
    width: 100%;
    background: #d9d9d9;
    height: 100vh;
    z-index: 999;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    transition: all 0.5s ease;
  }
  li.centre-list-items {
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
  }
  .location-dropdown select {
    font-size: 22px;
  }
  .search-box input {
    font-size: 22px;
  }
  #cart-icon,
  #whishlist-icon {
    width: 40px;
  }
  .button {
    padding: 18px 40px;
    font-family: 22px;
  }

  .grocery-sale-card {
    max-width: 100%;
  }
  .product-card-body .product-image {
    width: 100% !important;
  }

  .sale-title {
    font-size: 28px;
  }
  .sale-image img {
    margin-top: -134px;
    margin-left: 23px;
  }
  .offer-product-list-body {
    grid-template-columns: 2fr 2fr;
  }
  .button-icon::after {
    left: 51% !important;
  }
  .offer-product-list
    .offer-product-list-body
    .product-card
    .add-to-cart-container
    .button-icon::after {
    left: 51% !important;
  }
  .special-offer-list .offer-product-list-body {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .product-card-body .product-image {
    width: 100% !important;
  }
  .footer-column.first {
    width: 100% !important;
  }
  .links {
    margin-top: 40px !important;
  }
  .image-grid-section {
    flex-direction: column !important;
    gap: 20px !important;
  }
  .image-grid-section .image-grid-item img {
    width: 100% !important;
    height: 100% !important;
  }
  .image-grid-item.second-column {
    gap: 20px !important;
    margin-top: -20px;
  }
  .category-container {
    grid-template-columns: repeat(4, 2fr);
  }
  .view-all-button a {
    margin-right: 20px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .slide img {
    height: 200px !important;
    object-fit: cover;
  }
  .slide {
    flex: 0 0 100% !important;
  }
  .hero {
    margin: 15px 20px;
  }
  #hot-and-special-text,
  #burger-text,
  #price-text,
  .discount-text,
  .discount-text.save,
  p#burger-text,
  .arrow-img {
    display: none;
  }
  img#burger {
    margin-top: -28px;
  }
  img#burger,
  img#peanut {
    position: static !important;
  }
  .hero .grid-container {
    grid-template-columns: 2fr 1fr;
  }
  .hero .image-grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav .menu-btn i {
    display: block !important;
  }
  #click:checked ~ ul {
    left: 0%;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 100px;
    left: -100%;
    width: 100%;
    background: #d9d9d9;
    height: 100vh;
    z-index: 999;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    transition: all 0.5s ease;
  }
  li.centre-list-items {
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
  }
  .location-dropdown select {
    font-size: 16px;
  }
  .search-box input {
    font-size: 16px;
    width: 100%;
  }
  .sale-title {
    font-size: 24px;
  }

  .sale-image img {
    max-width: 200px;
    margin-top: -118px;
    margin-left: 59px;
  }
  .special-offer-list .offer-product-list-body {
    grid-template-columns: repeat(1, 1fr) !important;
    row-gap: 20px !important;
  }
  .product-card-body .product-image {
    width: 100% !important;
  }
  .footer-column.first {
    width: 100% !important;
  }
  .links {
    margin-top: 40px !important;
  }
  .image-grid-section {
    flex-direction: column !important;
    gap: 20px !important;
  }
  .image-grid-section .image-grid-item img {
    width: 100% !important;
    height: 100% !important;
  }
  .image-grid-item.second-column {
    gap: 20px !important;
  }
  .category-container {
    grid-template-columns: repeat(2, 2fr);
  }
}
